aniso8601==8.0.0
attrs==19.3.0
Click==7.0
dnspython==1.16.0
eventlet==0.25.1
Flask==1.1.1
Flask-Cors==3.0.8
flask-restplus==0.13.0
Flask-SocketIO==4.2.1
greenlet==0.4.15
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.1.1
MarkupSafe==1.1.1
monotonic==1.5
more-itertools==7.2.0
pyrsistent==0.15.4
python-engineio==3.9.3
python-socketio==4.3.1
pytz==2019.3
six==1.12.0
Werkzeug==0.16.0
zipp==0.6.0
